section {
    margin-top: 121px;
    padding: 15px;
    box-sizing: border-box;
    .login-wrap {
        width: 100%;
        margin: 0 auto;
        .login {
            width: 100%;
            min-height: auto;
            background: #E7E7E7;
            min-height: 426px;
            .login-title {
                max-width: 770px;
                margin: 0 auto;
                padding-bottom: 26px;
                font-family: "FuturaLT-Light", "NotoSansCJKsc-Light", "NotoSansCJKsc-Normal", "PingFangSC-Regular", "Hiragino Sans GB", "\5FAE\8F6F\96C5\9ED1", "Microsoft YaHei", sans-serif;
                font-size: 30px;
                color: #313131;
                letter-spacing: 2.5px;
                line-height: 30px;
                padding: 60px 0 19px;
                text-align: center;
                border-bottom: 1px solid #DBD8D6;
//              &:before {
//                  content: '';
//                  background: url("../images/icon.png") #E7E7E7;
//                  display: inline-block;
//                  left: 50%;
//                  bottom: -5px;
//                  margin-left: -5px;
//                  width: 11px;
//                  height: 10px;
//                  background-position: -224px 0;
//              }
            }
            .login-content {
                padding: 44px 40px 80px;
                min-height: 426px;
                margin-bottom: 160px;
                max-width: 770px;
                margin: 0 auto;
                .login-form {
                    float: left;
                    width: 50%;
                    height: 346px;
                    box-sizing: border-box;
                    border-right: 1px solid #fff;
                    label,
                    input,
                    button {
                        width: 100%;
                        max-width: 348px;
                        display: block;
                    }
                    label {
                        font-family: "FuturaLT-Book", "NotoSansCJKsc-DemiLight", "NotoSansCJKsc-Normal", "PingFangSC-Regular", "Hiragino Sans GB", "\5FAE\8F6F\96C5\9ED1", "Microsoft YaHei", sans-serif;
                        font-size: 12px;
                        color: #313131;
                        letter-spacing: 0.5px;
                        margin: 10px 0;
                    }
                    .e-mail,
                    .pw {
                        height: 37px;
                        padding: 12px 14px 11px;
                        border-radius: 0;
                        border: 0;
                        box-sizing: border-box;
                    }
                    .login-btn {
                        cursor: pointer;
                        height: 40px;
                        background: #C1B497;
                        color: #fff;
                        border: 0;
                    }
                }
                .remember-wrap {
                    margin-top: 23px;
                    margin-bottom: 40px;
                    #remember-me-box {
                        width: 16px;
                        height: 16px;
                        background: #F5F5F5;
                        display: inline-block;
                        vertical-align: middle;
                    }
                    #remember-me {
                        display: inline;
                    }
                }
                .forget {
                    margin-top: 8px;
                    display: block;
                    color: #C1B497;
                    font-size: 12px;
                    text-align: center;
                }
                .login-create {
                    float: right;
                    width: 50%;
                    height: 346px;
                    padding-left: 45px;
                    padding-top: 2px;
                    box-sizing: border-box;
                    >h3 {
                        font-family: "FuturaLT-Light", "NotoSansCJKsc-Light", "NotoSansCJKsc-Normal", "PingFangSC-Regular", "Hiragino Sans GB", "\5FAE\8F6F\96C5\9ED1", "Microsoft YaHei", sans-serif;
                        font-size: 20px;
                        color: #4B4B4B;
                        letter-spacing: 1px;
                        line-height: 20px;
                        font-weight: 100;
                        margin-bottom: 30px;
                    }
                    >p {
                        font-family: "FuturaLT-Book", "NotoSansCJKsc-DemiLight", "NotoSansCJKsc-Normal", "PingFangSC-Regular", "Hiragino Sans GB", "\5FAE\8F6F\96C5\9ED1", "Microsoft YaHei", sans-serif;
                        font-size: 14px;
                        color: #313131;
                        letter-spacing: 1px;
                        line-height: 14px;
                    }
                    ul {
                        list-style: disc;
                        li {
                            font-family: "FuturaLT-Light", "NotoSansCJKsc-Light", "NotoSansCJKsc-Normal", "PingFangSC-Regular", "Hiragino Sans GB", "\5FAE\8F6F\96C5\9ED1", "Microsoft YaHei", sans-serif;
                            font-size: 12px;
                            color: #313131;
                            letter-spacing: 1px;
                            line-height: 12px;
                            margin-top: 20px;
                            padding-left: 12px;
                        }
                    }
                    .login-create-btn {
                    	cursor: pointer;
                        margin-top: 30px;
                        max-width: 240px;
                        width: 100%;
                        text-align: center;
                        background: #E7E7E7;
                        height: 40px;
                        border: 2px solid #C8C6C5;
                        box-sizing: border-box;
                        >a {
                            color: #4D5353;
                            font-size: 12px;
                        }
                    }
                }
            }
        }
    }
}
footer {
    margin: 0;
}
@media screen and (max-width: 1023px) {
    section {
        margin: 70px 0 0;
        padding: 0;
    }
}
@media screen and (max-width:767px) {
    section{
        margin: 50px 0 0;
        padding: 0;
        .login-wrap {
            .login {
                .login-title {
                    font-size: 18px;
                }
                .login-content{
                    .login-form{
                        float: none;
                        width: 100%;
                        border-right: 0;
                        border-bottom: 1px solid #fff;
                        input,button{
                            max-width: 100%;
                        }
                    }
                    .login-create{
                        float: none;
                        width: 100%;
                        height: auto;
                        margin-bottom: 0;
                        h3{
                            width: 100%;
                            text-align: center;
                            margin-top: 30px;
                        }
                        .login-create-btn{
                            max-width: 100%;
                        }
                    }
                }
            }
        }
    }
}